version: 2.1

orbs:
  # dev version needs to be manually deployed to accurately test commit changes.
  # Once deployed, update <alpha> to reflect the version deployed.
  ghpr: narrativescience/ghpr@dev:1.1.3

commands:
  pack-validate:
    description: Pack and validate the orb config
    steps:
      - run:
          name: Pack config
          command: circleci config pack src > orb.yml
      - run:
          name: Valid orb.yml
          command: circleci orb validate orb.yml

jobs:
  test:
    machine: true
    steps:
      - ghpr/build-prospective-branch
          force: true
      - ghpr/slack-pr-author:
          message: ":tada: Tests passed!"
          get_slack_user_by: meseeks
          color: "#f2c744"

  publish:
    machine: true
    steps:
      - pack-validate
      - run:
          name: Publish new orb version
          command: |
            # TODO figure out how to configure CLI so publishing works
            circleci orb publish orb.yml "narrativescience/ghpr@$CIRCLE_TAG"

workflows:
  pull_request:
    jobs:
      - test:
          context: opensource
          filters:
            branches:
              ignore:
                - master
  # TODO uncomment and make it possible to auto-publish
  # publish:
  #   jobs:
  #     - publish:
  #         context: opensource
  #         filters:
  #           tags:
  #             only: /v[0-9]+(\.[0-9]+)*/
  #           branches:
  #             ignore: /.*/
